@import "../mixins";
//pagina de bene
.beneficios {
    @include center-flex;
    max-width: 100%;
    margin-top: 3rem;
}
.img-socios{
    justify-content: center;
    display: flex;
    flex-direction: column;
}