@import "../mixins";
@import "../variables";
//estilos de pagina de tienda
.background-tienda {
    background-image: url(../assets/indumemtaria\ 2024.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;

    @include breakpoint-small {
        padding: 20px;

        h1 {
            font-size: 2rem;
        }
    }
}

.btn-warning {
    background-color: $amarillo;
    border-color: $amarillo;
    color: black;
  }
  .btn-warning:hover {
    background-color: gold;
  }
